.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: auto;
  }
}

.diagrams {
  display: grid;
  gap: 4rem;
  grid-template-columns: 2fr 1fr;

  > * {
    margin-bottom: auto;
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.wrapper {
  display: grid;
  gap: 3rem;
}
