@use "styles/inc/variables" as *;

.form{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% auto;
  justify-content: center;

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.inputs {
  display: grid;
  gap: 1.5rem;

  @media screen and (max-width: 750px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: auto;
  }
}

.error{
  display: flex;
  flex-direction: row;

  span{
    font-size: 1rem;
    font-weight: 500;
    margin-top: auto;
    color: $danger-color;
  }
}

.check{
  display: flex;
  flex-direction: row;

  span{
    font-size: 1rem;
    font-weight: 500;
    margin-top: auto;
    color: $success-color;
  }
}

.submit {
  min-width: 100%;
}
