@use "styles/inc/variables" as *;

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin hide-scrollbars {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin reset-button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

@mixin hide-number-arrows {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin transition(
  $properties,
  $duration: $transition-duration,
  $function: $transition-function
) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $function;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
