$width: 1000px;
$width-landing: 1120px;
$max-width: 92vw;

$height-header: 80px;

$primary-color: #000000;
$accent-color: #1e60f6;
$alternate-accent-color: #cc623e;
$danger-color: #EB5757;
$success-color: #4BCE81;
$dark-accent-color: #0035ad;
$secondary-color: #919295;
$secondary-light-color: #e3e2e0;

$shadow-position: 0px 0px 84px -20px;
$shadow-color: #d6d2cc;
$shadow: $shadow-position $shadow-color;

$border-radius-xs: 8px;
$border-radius-s: 12px;
$border-radius-m: 22px;
$border-radius-l: 36px;
$border-radius-xl: 48px;

$transition-duration: 0.15s;
$transition-function: linear;

$to-accent-color-filter: invert(30%) sepia(39%) saturate(7495%) hue-rotate(219deg)
  brightness(98%) contrast(97%);
$to-secondary-color-filter: invert(65%) sepia(8%) saturate(104%) hue-rotate(188deg)
  brightness(88%) contrast(86%);
$to-danger-color-filter: invert(56%) sepia(36%) saturate(3816%) hue-rotate(328deg)
  brightness(101%) contrast(84%);
