@use "styles/inc/variables" as *;

.page {
  display: grid;
  grid-template-columns: 40% auto;
  margin: auto 0;

  @media screen and (max-width: 750px) {
    margin: auto 0;
    grid-template-columns: auto;
  }
}

.wrapper {
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin-left: 4rem;

  @media screen and (max-width: 750px) {
    max-width: $max-width;
    margin-left: 0;
  }
}

.controls{
  div{
    color: #1d1d1da9;
  }
}

.content {
  display: grid;
  gap: 1rem;
}
