@use "styles/inc/variables" as *;
@use "styles/inc/mixins";

.link {
  @include mixins.transition(color);

  text-decoration: none;
  width: fit-content;
}

.default {
  color: $primary-color;

  &:hover {
    color: $accent-color;
  }
}

.accent {
  color: $accent-color;
  font-weight: 700;

  &:hover {
    color: $dark-accent-color;
  }
}

.light {
  color: #fff;

  &:hover {
    color: $accent-color;
  }
}
