@use "styles/inc/variables" as *;

.grid {
  display: grid;
  gap: 1rem 4rem;
  width: fit-content;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, 1fr);
  grid-auto-columns: auto;
  margin-bottom: 2rem;

  @media screen and (max-width: 450px) {
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}

.url:hover{ 
  color: $accent-color;
  text-decoration: underline;
}

.contactUs{
  font-weight: 700;
  color: #1D1D1D ;
}
