@use "styles/inc/variables" as *;
@use "styles/inc/mixins";

.subsection {
  display: grid;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  @include mixins.transition(color);

  margin: {
    right: 2rem;
    top: 0.75rem;
    bottom: 0.75rem;
  }
}

.description {
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  max-width: min(500px, $max-width);
}

.error .title {
  color: $danger-color;
}
