@use "styles/inc/variables" as *;
@use "styles/inc/mixins";

.subsections {
  display: grid;
  gap: 3rem;
}

.sideInputs {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.program{
  display: grid;
  gap: 1rem;
}

.text{
  font-size: 1rem;
  line-height: 1.5rem;
}

.bold{
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.staple{
  @include mixins.box(3rem);
  margin: 0 auto;
  margin-bottom: 1rem;
}

.docSection{
  display: grid;
  gap: 2.125rem;
}

.documents {
  display: grid;
  gap: 2rem;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  // grid-auto-rows: minmax(min-content, max-content);

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.rowInputs {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, max-content);

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.address {
  grid-column: 1 / 3;
}

.inputs {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 1.5rem;

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.upload {
  min-height: 12rem;
}

.question {
  margin-left: 0.75rem !important;
}

.button {
  width: 100% !important;
  align-self: flex-end;
}

.yearInput {
  margin-top: 1.5rem;
}

.selects{
  margin-bottom: auto;
}

.faceImage{
  max-width: 22rem;
  height: 29rem;
}