@use "styles/inc/variables" as *;

.input {
  border: 1px solid $primary-color;
  border-radius: $border-radius-m;
  padding: 0 0.9rem;
  height: 2.75rem;
  font-size: 0.9rem;
  background-color: #fff;
  outline: none;

  &::placeholder {
    color: $primary-color;
  }

  &:disabled,
  &:read-only {
    cursor: not-allowed;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:focus {
    box-shadow: 0 0 0 1px $accent-color;
    border-color: $accent-color;
  }
}

.error {
  border-color: $danger-color;
}
