@use "styles/inc/variables" as *;

.section {
  padding: 8rem 0 16rem;
}

.wrapper {
  width: $width-landing;
  text-align: center;
  display: grid;
  gap: 2.5rem;
}

.title {
  font-size: 6rem;
  width: $width-landing;
  max-width: $max-width;
  margin: auto;
  font-weight: 700;

  @media screen and (max-width: 1000px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

// TODO: refactor
.search input {
  font-size: 1.25rem;

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}
