@use "styles/inc/variables" as *;
@use "styles/inc/mixins";

.slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: white;
  overflow: hidden;
}

.mainImage {
  position: relative;
  width: 100%;
  height: 628px;
  overflow: hidden;
  border-radius: $border-radius-xl;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 4rem;
  width: 100%;
  height: 132px;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  background: linear-gradient(180deg, #000000 -48.62%, rgba(0, 0, 0, 0) 100%);
  border-radius: $border-radius-xl $border-radius-xl 0 0;
  display: flex;
  align-items: center;
  opacity: 1;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.icon{
  @include mixins.box(1.5rem);
}

.prev .icon {
  transform: rotate(180deg);
}

.indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.indicator.active {
  opacity: 1;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1.25rem;
}

.thumbnail {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  width: 244px;
  height: 138px;
  opacity: 0px;
}


.thumbnail img {
  display: block;
  border-radius: 12px;
}
