@use "styles/inc/variables" as *;

.statusesWrapper {
  width: $width-landing;
  display: grid;
  gap: 1.5rem;
  margin: 0 auto;
  grid-auto-rows: minmax(min-content, max-content);
  padding-top: 4rem;
}

.header {
  width: 95%;
  display: flex;
  flex-direction: row;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.statuses {
  width: 95%;
  display: flex;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}
