@use "styles/inc/variables" as *;

.buttons {
  display: flex;
  margin: -0.5rem;

  > * {
    margin: 0.5rem;
  }
}
.statusBar{
  display: grid;
  gap: 1.25rem;
}

.subsections {
  display: grid;
  gap: 3rem;
}

.application {
  display: grid;
  gap: 2rem;
}

.dviGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.danger {
  color: $danger-color;
  font-weight: 700;
}

.success {
  font-weight: 700;
  color: $success-color;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @media screen and (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: auto;
  }
}

.sideInputs {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.inputs {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 1.5rem;

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.faceImage{
  width: 22rem;
  height: 29rem;
}

.rowInputs {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, max-content);

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.upload {
  min-height: 12rem;
}

.program{
  display: grid;
  gap: 1rem;
}

.docSection{
  display: grid;
  gap: 2.125rem;
}

.documents {
  display: grid;
  gap: 2rem;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  // grid-auto-rows: minmax(min-content, max-content);

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.file {
  background-color: $secondary-light-color;
  border-radius: $border-radius-s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

.image {
  object-fit: contain;
}

.header {
  display: flex;
  flex-direction: column;
  .headerText {
    display: flex;
    width: 522px;
    height: 48px;
    background-color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 84px -20px #d6d2cc;
    p {
      font-size: 20px;
      font-weight: 500;
      color: #1d1d1d;
    }
  }
}

.rejBtn {
  display: flex;
  width: 182px;
  height: 62px;
  border-radius: 36px;
  background-color: #eb5757;
  border: none;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rejBtn:hover {
  background-color: darken($color: #eb5757, $amount: 10);
}

.docsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 750px) {
    grid-template-columns: auto;
  }
}

.doc {
  height: 10rem;
}

.pagination {
  margin-top: 2rem;
}
