@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Italic-VariableFont_wght.woff2") format("woff2-variations");
  font-style: italic;
}
